#########################################################################################
##  Project    : Collect of various scripts for working with EDA-tools (ASIC/FPGA/etc) ##
##  Link       : https://github.com/iDoka/eda-scripts                                  ##
##  Description: .gitignore                                                            ##
##  Usage      : just rename or add contain to .gitignore ; Thank you iDoka            ##
##  License    : MIT                                                                   ##
#########################################################################################

## log files
*.log
*.jou
*.rpt
*.vdi

## bitstream
*.bit
*.bin
*.mcs
*.svf
*.image

## netlist
*.edf
*.edif
*.vn
*.vm

## SDF
*.sdf

## sim dump
*.vcd
*.saif
*.tcf
*.wdb

## others
unisims

## C-files
*.elf
*.a
*.sa
*.so
*.lib

## dirs
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/

###### for Xilinx Vivado|ISE
.Xil/
.cache/
fsm_encoding.os
tab_*/
webtalk.*
vivado_pid*.str
hs_err_pid*
xelab.*
xsim.*
xvlog.*
*.cache
*.sim
*.runs
*.hw
*.backup.*
*.debug

## checkpoint files
*.dcp

!**/HW_Vivado.srcs/**
!**/HW_Vivado.srcs/**/*

# NEW LINES BELOW
**/HW_Vivado.srcs/sources_1/bd/*/ip/
**/HW_Vivado.srcs/sources_1/bd/*/ipshared/
**/HW_Vivado.srcs/sources_1/bd/*/hdl/
**/HW_Vivado.srcs/sources_1/bd/*/hw_handoff/
**/HW_Vivado.srcs/sources_1/bd/*/sim/
**/HW_Vivado.srcs/sources_1/bd/*/synth/
**/HW_Vivado.srcs/sources_1/bd/*/ui/