[submodule "External/vivado-library"]
	path = External/vivado-library
	url = https://github.com/Digilent/vivado-library.git
[submodule "External/Vitis_Libraries"]
	path = External/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries.git
	branch = 2022.1
